body {
	background-image: url("gamingbg.png");
	text-align: center;
}
header {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
h1 {
	font-size: 35px;
	font-family: 'Bagel Fat One', sans-serif;
	font-style: normal;
}

#bgtest {
	color: #fdc275;
}

#chimkinbanner {
	width: 700px;
	height: 120px;
}

#menu {
	text-decoration: none;
	color: #2D7632;
}